/* 
Colors:
#E7ECEF - light grey
#8B8C89 - grey
#274C77 - dark blue
#6096BA - blue
#fefae0 - start background 
#001219 - background of a text and button
*/

@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #fefae0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: "Oswald", sans-serif;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 0.875rem;
}

/* End Global Styles */

/* Navbar */
nav {
  background: #e7ecef;
  height: 3rem;
  display: grid;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-center h4 {
  margin-bottom: 0;
  color: #6096ba;
}

.nav-links {
  display: flex;
}

nav a {
  text-transform: capitalize;
  font-size: 1rem;
  margin-right: 1rem;
  letter-spacing: 0.2rem;
  color: #274c77;
}

nav a:hover {
  color: #6096ba;
}

/* End Navbar */

/* Container */
main {
  min-height: calc(100vh - 3rem);
  /* there has to be space between values and a sign - LOL */
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}

.container h2 {
  background: #001219;
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 2.5rem;
}

.color {
  color: #fefae0;
}

.btn-hero {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  background: transparent;
  color: #001219;
  transition: all 0.3s linear;
  border: 2px solid;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  padding: 00.75rem 1.25rem;
  cursor: pointer;
}

.btn-hero:hover {
  color: white;
  background-color: #001219;
}

/* End Container */
